/* These are some styles that are used by both creators and learners. */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.lessons-container {
  margin: auto;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.status-message {
  color: gray;
  text-align: center;
}

.lesson-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
