.pageHeading {
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  background-color: rgb(164, 215, 181);
}

.landingLink {
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(176, 176, 176);
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: transform 0.1s, background-color 0.1s;
}

.landingLink:hover {
  transform: scale(1.1);
  background-color: rgb(209, 209, 209);
}

.loginLinks {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 5px rgb(181, 181, 181);
  padding: 15px;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  background-color: rgb(105, 173, 232);
}

.landingContainer {
  max-width: 1200px;
  margin: auto;
}

.techDetailsContainer {
  margin: 20px;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
  background-color: aliceblue;
}
.aboutContainer {
  margin: 20px;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
  background-color: aliceblue;
}
