/* Styles for all the alerts. */
.alertWindow {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(1, 100, 113);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(182, 182, 182);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
}

.alertBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.alertWindow button {
  border: none;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(1, 87, 98);
  transition: transform 0.1s;
}

.alertWindow button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
